{% extends 'left_bar.html' %}
{% block contents %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width:100%; height:650px;"></div>
            <div>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="firstname" class=" control-label">Date Range</label>
                        <div style="margin-left: 10px">
                            <input type="text" name="daterange" value="01/01/2009 - 12/31/2019"/>
                        </div>
                    </div>
                </form>
            </div>
            <div style="margin-top: 10px">
                <table id="s_table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Node</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for node in nodes %}
                        <tr>
                            <td>
                                <a href="/tweets/?i={{ illness }}&t={{ node.type_id }}&n={{ node.name }}&s=2009-01-01&e=9999-12-31">
                                    {{ node.name }}
                                </a>
                            </td>
                            <td>{{ node.type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div>

            </div>
            <script type="text/javascript">
                $(function () {
                    $('input[name="daterange"]').daterangepicker({
                        "opens": 'right',
                        "drops": "up"
                    }, function (start, end, label) {
                        $.get("/update/?i={{ illness }}&s=" + start.format('YYYY-MM-DD') + "&e=" + end.format('YYYY-MM-DD'), null, function (data) {
                            update_diagram(data.data, data.links);
                            update_tables(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'), data.nodes);
                        });
                    });
                });

                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                myChart.showLoading();
                var categories = [{name: 'Illness'}, {name: 'Symptom'}, {name: 'Treatment'}];
                var option = {
                    title: {
                        text: "{{ illness }}",
                        subtext: 'Default layout',
                        top: 'bottom',
                        left: 'right'
                    },
                    tooltip: {},
                    legend: [{
                        // selectedMode: 'single',
                        data: categories.map(function (a) {
                            return a.name;
                        })
                    }],
                    animation: true,
                    series: [{
                        name: '',
                        type: 'graph',
                        layout: 'force',
                        categories: categories,
                        roam: true,
                        label: {
                            normal: {
                                position: 'right'
                            }
                        },
                        force: {
                            repulsion: 100
                        },
                        data: [
                            {% for node in data %}
                                {
                                    category: {{ node.category }},
                                    name: "{{ node.name }}",
                                    symbolSize: {{ node.symbolSize }},
                                    value: {{ node.value }},
                                    draggable: {{ node.draggable }},
                                },
                            {% endfor %}
                        ],
                        links: [
                            {% for link in links %}
                                {
                                    source: "{{ link.source }}",
                                    target: "{{ link.target }}",
                                    lineStyle: {
                                        normal: {
                                            width: {{ link.lineStyle.normal.width }}
                                        }
                                    }
                                },
                            {% endfor %}
                        ]
                    }]
                };
                myChart.setOption(option);
                myChart.hideLoading();

                function update_diagram(data, links) {
                    myChart.showLoading();
                    var option = myChart.getOption();
                    option.series[0].data = data;
                    option.series[0].links = links;
                    myChart.setOption(option);
                    myChart.hideLoading();
                }

                function update_tables(start, end, nodes) {
                    var s_table = $("#s_table");
                    s_table.empty();
                    s_table.append("<thead><tr><th>Node</th><th>Type</th></tr></thead>");
                    s_table.append("<tbody>");
                    for (var i = 0, len = nodes.length; i < len; i++) {
                        s_table.append("<tr><td><a href=\"/tweets/?i={{ illness }}&t=" + nodes[i].type_id
                            + "&n=" + nodes[i].name + "&s=" + start + "&e=" + end + "\">" + nodes[i].name
                            + "</a></td><td>" + nodes[i].type + "</td></tr>");
                    }
                    s_table.append("</tbody>");
                }
            </script>
        </div>
    </section>
{% endblock %}